
.CafeZone {
 width: 320px;
 height: 100%;
  background-image: url('/img/cafevide.png');
  background-size: 17em;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0 auto;
}

.CafeZone:hover {
    filter: drop-shadow(0em 1em 0.75rem rgba(0, 0, 0, 0.418))
}

