.CafeZone {
 width: 186px;
 height: 230px;
  background-image: url('/img/cafevide.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 0 auto;
}
body{
    background-color: rgb(187, 179, 113);
}