.GrainZone {
    padding: 1em 0;
    background-image: url('/img/grains.png');
    background-size: 22em;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 160%;
    filter: contrast(2);
}