.Machine {
    height:100vh;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 2fr;
    background-image: url(../../public/img/machine.png);
    background-size: cover;
    background-color: #000000;
}

.temperature {
    grid-row: 2/3;
    grid-column: 2/4;
}

.grain {
    grid-row:1/2;
    grid-column:1/4;
}

.cafe {
    grid-row: 3/4;
    grid-column: 2/4;
}

.conteur {
    grid-row: 2/3;
    grid-column: 1/2;
}