.Machine {
    height:100vh;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 0.2fr 1fr 2fr;
}

.temperature {
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: blue;
}

.grain {
    grid-row:1/2;
    grid-column:1/4;
    background-color: blue;
}

.cafe {
    grid-row: 3/4;
    grid-column: 2/4;
    background-color: red;
}