.Machine {
    height:100vh;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.temperature {
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: black;
}

.grain {
    grid-row:1/2;
    grid-column:2/3;
    
}