:root {
    --gradient : linear-gradient(6deg,#b18869 21%, rgba(240, 206, 182, 1) 50%, #b18869 84%);
}

.Tableau{
    height: 100vh;
    width: 100vh;
    background-image: url(../../public/img/tableau.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-style: italic;
    
    border: 1em solid; /* define the border width */
    border-image-source: var(--gradient);
    border-image-slice: 1;
}

.Text {
    h1{
        font-size: 2.5em;
        text-decoration: underline;
    }
    ol {
        font-style: normal;
        font-size: 0.8em;
        text-align: center;
    }
}

.Illustrations {
    display: flex;
    gap: 3em;
    div{
        p{
            font-size: 0.5em;
        }
    }
}