.Tableau{
    height: 100vh;
    width: 100vh;
    background-image: url(../../public/img/tableau.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    color: rgba(241, 241, 230, 0.733);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    font-style: italic;
}

.Text {
    h1{
        font-size: 2.5em;
        text-decoration: underline;
    }
    ol {
        font-style: normal;
        font-size: 0.8em;
        text-align: center;
    }
}

.Illustrations {
    display: flex;
    gap: 3em;
    div{
        p{
            font-size: 0.5em;
        }
    }
}